{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>

        {% block title %}

        {% endblock %}

    </title>

    <link rel="stylesheet"href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/category_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <link rel="stylesheet" href="{% static 'css/order.css' %}">

</head>

<body>

    {% include 'includes/header.html' %}

    <main>

        {% block content %}

        {% endblock %}

    </main>

    {% include 'includes/footer.html' %}

</body>

</html>