{% extends 'base.html' %}

{% block title %}
Checkout
{% endblock %}

{% block content %}

<div class="checkout-container">

    <h2>
        Checkout
    </h2>

    {% for item in items %}

    <div class="checkout-item">

        <h3>
            {{ item.product.name }}
        </h3>

        <p>
            Quantity :
            {{ item.quantity }}
        </p>

        <p>
            ₹{{ item.subtotal }}
        </p>

    </div>

    {% endfor %}

    <h2>
        Total :
        ₹{{ total }}
    </h2>

    <button id="pay-btn">
        Pay Now
    </button>

</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

var options = {

    "key": "{{ key }}",

    "amount": "{{ payment.amount }}",

    "currency": "INR",

    "name": "My Store",

    "description": "Order Payment",

    "order_id": "{{ payment.id }}",

    "handler": function (response) {

        window.location.href =
        "{% url 'payment_success' %}?payment_id="
        + response.razorpay_payment_id;

    }

};

var rzp = new Razorpay(options);

document.getElementById("pay-btn").onclick =
function(e){

    rzp.open();

    e.preventDefault();

}

</script>

{% endblock %}