.checkout-container,
.orders-container{

    max-width:900px;

    margin:50px auto;

    background:white;

    padding:30px;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.checkout-item,
.order-card{

    border-bottom:1px solid #ddd;

    padding:15px 0;
}

.checkout-container button{

    padding:12px 25px;

    border:none;

    background:#28a745;

    color:white;

    border-radius:5px;

    cursor:pointer;
}